# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# mammut customized git ignored files @{
eli_modem/ewstm8/eli_modem_workspace_output/
eli_modem/ewstm8/eli_modem_workspace/settings/
# only eww (workspaces) and ewp (projects) are useful.
*.dep
*.ewt
# we don't upload pdf and chm files.
*.chm
*.pdf
# @}
eli_modem/eclipse_proj/.settings/
*.ewd
*.crf
*.d
*.lnp
*.map
*.sct
*.axf
*.lst
*.TMP
